h5,h3 {
    color:darkorange;
    text-align: center;
}

body {
	color:darkorange;
    text-align: center;
    
}

.encabezado {
    background-size: cover;
}

.centrardiv {
	text-align: center;
}

p.pie {
	position: relative;
}
//*input[type="text"]:focus:invalid {
	border: 1px solid #ff920a;
	box-shadow: 0 0 5px #ff920a;
}
*//
.error {
    background-color: greenyellow;
}

.warning {
    border-color: yellow;
}
.css-form input.ng-invalid.ng-dirty {
            background-color:grey;
        }

.css-form input.ng-valid.ng-dirty {
            background-color:darkkhaki;
        }
