h5,h3 {
    color:darkorange;
    text-align: center;
}

body {
	color:darkorange;
    text-align: center;
    
}

p.encabezado {
	position: relative;
}

.bg-info {
  background-color:chocolate;
  text-align: right;    
}

.centrardiv {
	text-align: center;
}

p.pie {
	position: relative;
}
input[type="text"]:focus:invalid {
	border: 1px solid #ff920a;
	box-shadow: 0 0 5px #ff920a;
}

input[type="email"]:focus:invalid {
	border: 1px solid #ff920a;
	box-shadow: 0 0 5px #ff920a;
}

input[type="number"]:focus:invalid {
	border: 1px solid #ff920a;
	box-shadow: 0 0 5px #ff920a;
}
.css-form input.ng-invalid.ng-dirty {
            background-color:crimson;
        }

.css-form input.ng-valid.ng-dirty {
            background-color:darkkhaki;
        }
