h5,h3 {
    color:darkorange;
    text-align: center;
}

body {
	color:darkorange;
    text-align: center;
    
}

p.encabezado {
	position: relative;
}

.centrardiv {
	text-align: center;
}

p.pie {
	position: relative;
}
input[type="text"]:focus:invalid {
	border: 1px solid #91e842;
	box-shadow: 0 0 5px #91e842;
}

input[type="email"]:focus:invalid {
	border: 1px solid #91e842;
	box-shadow: 0 0 5px #91e842;
}

input[type="number"]:focus:invalid {
	border: 1px solid #91e842;
	box-shadow: 0 0 5px #91e842;
}
.css-form input.ng-invalid.ng-dirty {
            background-color:#f85032;
        }

.css-form input.ng-valid.ng-dirty {
            background-color:#91e842;
        }
