<!DOCTYPE html>
<html lang="es" >

    <head>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Iteracion</title>
                <link href="css/lib/bootstrap.min.css" rel="stylesheet" media="screen">
                <link href="css/lib/bootstrap-theme.min.css" rel="stylesheet">
                <link href="css/definidobotones.css" rel="stylesheet">
                <link href="css/otroboton.css" rel="stylesheet">
                <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
                <script src="js/lib/bootstrap.min.js"></script>
    </head>



<body ng-app="personal">
         
         <div>
             <p class="encabezado"></p>
             <div class="centrardiv"><img src="img/encabezado.png"></div>
        </div>  
    
                  
  <h3> Repetición de Datos, Creación de Tablas y Filtros </h3> 
    <br><br>
    
<div ng-controller="meController">
  <div class="table-responsive">
    <div style="text-align:center;">
     <table style="margin: 0 auto;">
        <thead>
            <tr>
             <th>ID</th>
             <th>Nombre</th>
             <th>Fecha Nacimiento</th>
             <th>Estatura</th>
             <th>Peso</th>
             <th>Titulo</th>
            </tr>
        </thead>
        <tbody>
          <tr ng-repeat="data in datos">
              <td>{{data.id}}</td>
              <td>{{data.nombre}}</td>
              <td>{{data.fecNac}}</td>
              <td>{{data.estatura}}</td>
              <td>{{data.peso}}</td>
              <td>{{data.titulo}}</td>
           </tr> 
            <tr ng-repeat="data in datosResource">
              <td>{{data.id}}</td>
              <td>{{data.nombre}}</td>
              <td>{{data.fecNac}}</td>
              <td>{{data.estatura}}</td>
              <td>{{data.peso}}</td>
              <td>{{data.titulo}}</td>
           </tr> 
        </tbody>
    
    </table>
   </div>
  </div>
    
    
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
            <script src="js/inyectar.js"></script>
            <script type="text/javascript" src="js/angular_resource.js"></script>
    <div>
         
   </body>
</html>
         